<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HTTPVideoUrls</key>
	<dict>
		<key>TEST2</key>
		<dict>
			<key>type</key>
			<string>recorded</string>
			<key>urlString</key>
			<string>http://devimages.apple.com/iphone/samples/bipbop/bipbopall.m3u8</string>
		</dict>
		<key>TEST1</key>
		<dict>
			<key>type</key>
			<string>recorded</string>
			<key>urlString</key>
			<string>http://kbs-dokdo.gscdn.com/dokdo_300/_definst_/dokdo_300.stream/playlist.m3u8</string>
		</dict>
		<key>CCTV2</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>http://36.152.7.33/tlivecloud-cdn.ysp.cctv.cn/ysp/2000203603.m3u8</string>
		</dict>
		<key>CCTV1</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>http://36.152.7.33/tlivecloud-cdn.ysp.cctv.cn/ysp/2000210103.m3u8</string>
		</dict>
	</dict>
	<key>MMSVideoUrls</key>
	<dict>
		<key>普陀卫视</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://61.241.127.82/live</string>
		</dict>
		<key>青岛卫视</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://221.0.171.202/qtv</string>
		</dict>
		<key>珠海卫视</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://www.zhtv.com/zhtv1</string>
		</dict>
		<key>温州卫视</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://202.107.219.58/wztv1</string>
		</dict>
		<key>浙江卫视</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://61.175.162.21:9898/ztv1new</string>
		</dict>
		<key>四川卫视</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://218.6.174.207/sctv1</string>
		</dict>
		<key>湖南卫视</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://61.139.37.135/HUNA</string>
		</dict>
		<key>CCTV音乐</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/livemusic</string>
		</dict>
		<key>CCTV新闻</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/livenews</string>
		</dict>
		<key>CCTV西法</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/livexifa</string>
		</dict>
		<key>CCTV少儿</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/livekids</string>
		</dict>
		<key>CCTV11</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/live21</string>
		</dict>
		<key>CCTV10</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/live20</string>
		</dict>
		<key>CCTV9</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/live19</string>
		</dict>
		<key>CCTV7</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/live17</string>
		</dict>
		<key>CCTV4</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/live14</string>
		</dict>
		<key>CCTV3</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/live13</string>
		</dict>
		<key>CCTV2</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/live12</string>
		</dict>
		<key>CCTV1</key>
		<dict>
			<key>type</key>
			<string>live</string>
			<key>urlString</key>
			<string>mms://live.cctv.com/live11</string>
		</dict>
	</dict>
</dict>
</plist>
